<%= accordion_group(organization.name, "#{organization.id}-collapse", "organization-accordion", active) do %>
  <div class="well nav-list-well">
    <ul class="nav nav-list">
      <li class="nav-header">Reading Groups<i class="icon-list pull-right"></i></li>
      <%= render partial: 'shared/sidebar/group', collection: organization.groups %>
      <%= new_group_li_link(organization) %>

      <li class="divider"></li>

      <%= li_icon_link_to "Manage Organization", "#", false, "icon-wrench", class: "organization-toggle" %>
    </ul>

    <ul class="nav nav-list manage-organization">
      <li class="nav-header">Manage Organization<i class="icon-wrench pull-right"></i></li>

      <li><%= link_to "Leave", organization_membership_path(current_user.organization_memberships.find_by_organization_id(organization).id), confirm: "Are you sure?", method: :delete %></li>
      <%= edit_organization_li_link(organization) %>
      <li><%= link_to "Delete", organization_path(organization), method: :delete, confirm: "Are you sure?" %></li>

      <li class="divider"></li>

      <%= li_icon_link_to "Reading Groups", "#", false, "icon-list", class: "organization-toggle" %>
    </ul>
  </div>
<% end %>