<%= organization_accordion_group(organization) do %>
  <div class="well nav-list-well">
    <ul class="nav nav-list manage-organization">
      <%= li_icon_nav_header "Manage Organization", "icon-wrench" %>

      <%= link_to_leave_organization(organization) %>
      <%= link_to_edit_organization(organization) %>
      <%= link_to_delete_organization(organization) %>

      <li class="divider"></li>

      <%= manage_organization_toggle "Reading Groups", "icon-book" %>
    </ul>

    <ul class="nav nav-list">
      <%= li_icon_nav_header "Reading Groups", "icon-book" %>

      <%= group_links(organization.groups) %>
      <%= link_to_new_group(organization) %>

      <li class="divider"></li>

      <%= manage_organization_toggle "Manage Organization", "icon-wrench" %>
    </ul>
  </div>
<% end %>