<div class="row">
  <div class="offset1 span4 well full-form">
    <h2>Create a new group</h2>

    <%= form_for @group, url: organization_groups_path(@organization), html: { method: :post } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>