<!DOCTYPE html>
<html>
<head>
  <title>Coffeetalk</title>
  <style type="text/css">
    body {
      padding: 60px 0 40px 0;
    }
  </style>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <%= render 'layouts/flash', flash: flash %>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</div>
<%= yield :javascript %>
</body>
</html>
